body { 
  background-color: white;
}


.wrapper{
    position: relative;
    min-height: 100vh;
}

.circle_background{
    background-image: url(/assets/images/VetorSite_circulo.svg);
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-size: 50%;
}

/* Header */

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/assets/images/load.gif) 50% 50% no-repeat rgb(255, 255, 255);
}


.cool-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.cool-header-item{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #464646;
}

#aboutlink{
    width: 150px;
    margin-left: 20%;
    border-bottom: solid #464646;
    border-width: 0px 0px 1px 0px;
}

#aboutlink:hover{
    text-decoration: none;
    color: #9d9d9d;
}

#workslink{
    margin-right: 20%;
    text-align: right;
    width: 150px;
    border-bottom: solid #464646;
    border-width: 0px 0px 1px 0px;
}


#workslink:hover{
    text-decoration: none;
    color: #9d9d9d;
}

/* Main page Content */

.main_text{
    min-height: 80vh;
    padding: 10% 15% 5% 15%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.boxContainer_1{
    border-style: solid;
    border-color: #464646;
    border-width: 6px;
    padding: 5px 20px 10px 20px;
}

.VAlignCenter{
    margin-top: 20%;
}

.title_main{
    font-size: 40px;
    color: #464646;
    font-weight: 700;
}


.descr{
    margin-top: 20px;
    font-size: 30px;
    position: relative;
    color: #464646;
    font-weight: 500;
}

.email{
    margin-top: 20px;
    font-size: 18px;
    position: relative;
    color: #6c6c6c;
}

.email_icon{
    margin-right: 15px;
}

/*.spaceman{
    width: 150px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 4%;
}

.dragme{
    margin-top: 10px;
}*/

/* Footer */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 15%;
}

.footer a{
    padding-left: 8px;
    padding-right: 8px;
    color: #464646;
}