
body { 
  margin: 0;
    padding: 0;
}


.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    
}
.cool-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.cool-header-item{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #464646;

}

.cool-header-item2{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #FFCA00;
}


#aboutlink{
    width: 150px;
    margin-left: 20%;
    border-bottom: solid #464646;
    border-width: 0px 0px 3px 0px;
}

#aboutlink:hover{
    text-decoration: none;
    color: #313131;
}

#workslink{
    margin-right: 20%;
    text-align: right;
    width: 150px;
    border-bottom: solid #464646;
    border-width: 0px 0px 3px 0px;
}


#workslink:hover{
    text-decoration: none;
    color: #313131;
}

/* Main page Content */

.main_text{
    min-height: 80vh;
    padding: 15% 15% 5% 15%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.boxContainer_1{
    border-style: solid;
    border-color: #464646;
    border-width: 6px;
    padding: 5px 20px 10px 20px;
}


.title_main{
    font-size: 40px;
    color: #464646;
    font-weight: 700;
}


.descr{
    margin-top: 20px;
    font-size: 30px;
    position: relative;
    color: #464646;
    font-weight: 500;
}

.email{
    margin-top: 50px;
    font-size: 18px;
    position: relative;
    color: #464646;
    text-decoration: none;
}


.email_icon{
    margin-right: 15px;
}



/* Footer */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 15%;
}

.footer a{
    padding-left: 8px;
    padding-right: 8px;
    color: #464646;
}

/* pace loader */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ffc900;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}



/*MAIN CSS NOW HERE:*/

.title_work{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #464646;
    font-weight: 700;
    margin-top: 8%;
    letter-spacing: 1px;
}

.yellow{
    border-bottom: solid #ffc900;
    border-width: 0px 2px 15px 0px;
    z-index: -1;
    width: 35%;
    margin-top: -23px;
}

.work_description_row{
    padding: 2% 5% 0% 5%;
}

.work_description_row2{
    padding: 2% 5% 10% 5%;
}

.title_about{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 25px;
    color: #464646;
    font-weight: 700;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    letter-spacing: 1px;
}

.pd_title{
    margin-left: 0px;
}

.borderyellow{
    border-bottom: solid #ffc900;
    border-width: 0px 2px 15px 0px;
    z-index: -1;
    margin-top: -25px;
    width: 50%;
    margin-bottom: 25px;
}

.subtittlework{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffc900;
    font-weight: 700;
    letter-spacing: 1px; 
    text-align: center;
}

.description_work{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #2e2e2e;
    font-weight: 300;
    padding-top: 5px;
}

.description_work2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ffc900;
    font-weight: 300;
}


a .CVbtn{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #ffc900;
    font-size: 18px;
    color: #464646;
    font-weight: 700;
    margin-top: 15px;
    padding: 15px;
    width: 250px;
    letter-spacing: 0.7px;
    display: inline-block;
}

.CVbtn:link{
    text-decoration: none;
}

.CVbtn:visited{
    text-decoration: none;
}

.CVbtn:hover{
    background-color: #464646;
    color: #ffc900;
    text-decoration: none;
}

.aboutsection_1{
    margin-top: 10%;
}

.skillset1{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #6c6c6c;
    font-weight: 400;
    text-align: center;
    margin: 4% 15% 10px 15%;
}

.skillset2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #6c6c6c;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
}

.skillname{
    margin-top: 5px;
    font-size: 20px;
}

.m4logo{
    max-width: 75%;
    display: block;
    margin: 2% auto 2% auto;
}

.m4mockup{
    max-width: 100%;
    display: block;
    margin: 2% auto 2% auto;
}

.m4mockup2{
    max-width: 100%;
    display: block;
    margin: 2% auto 15% auto;
}

.gllogo{
    max-width: 100%;
    display: block;
    margin: 0% auto 0% auto;
}

.glgif{
    max-width: 100%;
    display: block;
    margin: 0% auto 0% auto;
}

.glmockup{
    max-width: 100%;
    display: block;
    margin: 2% auto 15% auto;
}

.tsologo{
    max-width: 50%;
    display: block;
    margin: 5% auto 5% auto;
}


.tsocover{
    max-width: 80%;
    display: block;
    margin: 0% auto 15% auto;
}


.lpcover{
    max-width: 70%;
    display: block;
    margin: 5% auto 10% auto;
}

.mb{
    max-width: 60%;
    display: block;
    margin: 5% auto 10% auto;
}

.bannercover{
    max-width: 80%;
    display: block;
    margin: 3% auto 3% auto;
}

.bannercover2{
    max-width: 80%;
    display: block;
    margin: 3% auto 15% auto;
}

.ENlogo{
    max-width: 50%;
    display: block;
    margin: 5% auto 5% auto;
}

.ENlogo2{
    max-width: 100%;
    display: block;
    margin: 5% auto 5% auto;
}

.ENFB{
    max-width: 50%;
    display: block;
    margin: 2% auto 5% auto;
}

.ENFB2{
    max-width: 70%;
    display: block;
    margin: 2% auto 5% auto;
}

.ENFB3{
    max-width: 70%;
    display: block;
    margin: 2% auto 10% auto;
}

.HBlogo{
    max-width: 60%;
    display: block;
    margin: 15% auto 5% auto;
}

.HBlogo2{
    max-width: 100%;
    display: block;
    margin: 5% auto 5% auto;
}

.pt1{
    max-width: 25%;
}

.pt3{
    margin-bottom: 15%;
}

.pt2{
    margin-bottom: 8%;
}

.ptabout{
    padding-bottom: 15%;
}

/*About*/
.subtitle{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-top: 3%;
    color: #6c6c6c;
    font-weight: 600;
}

.skills{
    margin-bottom: 2%;
}


.ft2{
    margin-top: 15%;
}
